@import "../styles/global";

.content {
  .matrices {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .toolbar {
    display: flex;
    justify-content: center;
  }
  .btn-submit {
    height: 20px;
    width: 40px;
  }
}
