@import "../styles/global";

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  background-color: $border-color;
  z-index: 1000;
}

.main {
  padding-top: $footer-height;
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn {
  color: $text-color;
  font-size: 1em;
  outline-color: $border-color;
  width: 200px;
  height: 100px;
  margin: $free-space;
}

.wrapper {
  vertical-align: top;
  display: inline-block;
}
